#root { height: 100%; margin: 0; box-sizing: border-box; }
html, body { height: 100%; margin: 0; }
*, *::before, *::after { box-sizing: inherit; }
@media (pointer: coarse) {
  * {
    -webkit-user-select: none; /* Safari */
    -moz-user-select: none; /* Firefox */
    -ms-user-select: none; /* IE/Edge */
    user-select: none; /* Standard */
  }
}
